<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="olympchecker_gui.MainFormState" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="olympchecker_gui.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <olympchecker_gui.MainFormState>
            <setting name="sourceFile" serializeAs="String">
                <value />
            </setting>
            <setting name="testsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="timeLimit" serializeAs="String">
                <value />
            </setting>
            <setting name="inputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="outputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="useStandartIO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="internalChecker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customChecker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customCheckerSource" serializeAs="String">
                <value />
            </setting>
            <setting name="exactChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wasSaved" serializeAs="String">
                <value>False</value>
            </setting>
        </olympchecker_gui.MainFormState>
        <olympchecker_gui.Settings>
            <setting name="Language" serializeAs="String">
                <value>RU</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
        </olympchecker_gui.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
